<!doctype html>
<html>
<head>
	<title>Lineshell - Scripts</title>
	<meta name="description" content="Scripts">
	<% include header %>
</head>
	<body>
		<% include navbar %>

		<div class="container">

			<h1><span class="fa fa-hdd-o"></span> Scripts details <i class="fa fa-question-circle fa-1x" style="color:#eee;" data-trigger="hover" data-placement="bottom" data-toggle="popover" title="Hint!" data-content="You can use arguments in your scripts! Just use the pattern {{arg:$argument_name}} in your script and we will automatically detect all arguments. When you will execute the script, we will ask you to set a value for each argument detected."></i> <button type="button" class="btn btn-info " data-toggle="modal" data-target="#addScriptModal"><span class="fa fa-plus"></span> Add a script</button></h1>
			<h5>Bash/Shell scripts that you can run on your servers and groups.</h5>

			<div class="text-right">
						<span class="label label-primary">Scripts : <%= myScripts.length %> of unlimited</span>
			</div>

			<%if (myScripts.length < 1) { %>
				<p>You need to add a script first.</p>
			<% }else{ %>

			<div class="row">

				<form action="/deleteselectedscript" method="post">
				<button type="submit" id="deleteSelected" name="deleteSelected" class=" btn btn-default btn-xs" <span class="fa fa-times"></span>Delete Selected</button>

					<table id="scriptsTable" class="table table-striped table-hover table-bordered table-condensed tablesorter">
						<thead>
							<tr>
								<th><input type="checkbox" id="selectall" name="selectall"></th>
								<th>Name <span class="fa fa-sort"></span></th>
								<th>Notes <span class="fa fa-sort"></span></th>
								<th>Added <span class="fa fa-sort"></span></th>
								<th>Added By <span class="fa fa-sort"></span></th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
						<% myScripts.forEach(function(script, index) { %>
							<tr id="<%= script._id %>">
								<td><input type="checkbox" value="<%= script._id %>" class="checkbox" id="scriptId" name="scriptId"></td>
								<td>
									<li><a href="#execScriptModal" data-toggle="modal" data-args-id="<%= script.scriptDetails.withArgs %>" data-script-id="<%= script._id %>" data-name-id="<%= script.scriptDetails.scriptName %>" data-target="#execScriptModal"><%= script.scriptDetails.scriptName %></a></li>
								</td>
								<td><%= script.scriptDetails.scriptNotes %></td>

								<td><%= moment.tz(script.scriptDetails.created_at, timezone).format('L LTS') %></td>
								<% if (user.local.email == undefined){ %>
									<% if (user.google.email == undefined){ %>
										<% if (user.facebook.email == undefined){ %>
											<% if (user.twitter.username == undefined){ %>
												<td>undefined</td>
												<% }else{ %>
													<td><%= user.twitter.username %></td>
												<% } %>
											<% }else{ %>
												<td><%= user.facebook.email %></td>
											<% } %>
									<% }else{ %>
										<td><%= user.google.email %></td>
									<% } %>
								<% }else{ %>
									<td><%= user.local.email %></td>
								<% } %>
								<td>
									<button type="button" class=" btn btn-default btn-sm" data-toggle="modal" data-target="#execScriptModal" data-args-id="<%= script.scriptDetails.withArgs %>" data-name-id="<%= script.scriptDetails.scriptName %>" data-script-id="<%= script._id %>"><span class="fa fa-play"></span></button>
									<button type="button" class=" btn btn-default btn-sm" data-toggle="modal" data-target="#editScriptModal" data-content-id="<%= script.scriptDetails.scriptContent %>" data-name-id="<%= script.scriptDetails.scriptName %>" data-notes-id="<%= script.scriptDetails.scriptNotes %>" data-script-id="<%= script._id %>"><span class="fa fa-pencil"></span></button>
									<button type="button" class=" btn btn-default btn-sm" data-toggle="modal" data-target="#deleteScriptModal" data-name-id="<%= script.scriptDetails.scriptName %>" data-script-id="<%= script._id %>"><span class="fa fa-times"></span></button>
								</td>
							</tr>
						<% }); %>
						</tbody>
					</table>
				</form>
			</div>
			<% } %>

		</div>

		<% include ./modals/addScriptModal %>
		<% include ./modals/editScriptModal %>
		<% include ./modals/deleteScriptModal %>
		<% include ./modals/execScriptModal %>

		<% include footer %>
		<script type="text/javascript">
		        $(document).ready(function() {
		            $('#scriptsmenu').addClass("active");
								$('#deleteSelected').prop('disabled', true);
								$('#selectall').click(function(event) {  //on click
										if(this.checked) { // check select status
												$('.checkbox').each(function() { //loop through each checkbox
														this.checked = true;  //select all checkboxes with class "checkbox1"
														$('#deleteSelected').prop('disabled', false);
												});
										}else{
												$('.checkbox').each(function() { //loop through each checkbox
														this.checked = false; //deselect all checkboxes with class "checkbox1"
														$('#deleteSelected').prop('disabled', true);
												});
										}
								});

								$("#scriptsTable").tablesorter({sortList: [[1,0]],headers: {0:{sorter:false}}});

								var checkboxes = $("input[type='checkbox']");
								checkboxes.click(function() {
									var count_checked = $("[name='scriptId']:checked").length;
									if (count_checked > 0){
										$('#deleteSelected').prop('disabled', false);
									}else{
										$('#deleteSelected').prop('disabled', true);
									}
								});

								$('[data-toggle="popover"]').popover();

		        });
		</script>

		<script src="/static/js/ace.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		        //triggered when modal is about to be shown
				$('#editScriptModal').on('show.bs.modal', function(e) {

				    //get data-id attribute of the clicked element
					var scriptName        = $(e.relatedTarget).data('name-id');
					var scriptNotes       = $(e.relatedTarget).data('notes-id');
				  var scriptId          = $(e.relatedTarget).data('script-id');
					var scriptContentEdit = $(e.relatedTarget).data('content-id');

				    //populate the textbox
				    $(e.currentTarget).find('input[name="scriptName"]').val(scriptName);
				    $(e.currentTarget).find('input[name="scriptNotes"]').val(scriptNotes);
					  $(e.currentTarget).find('input[name="scriptId"]').val(scriptId);
						$(e.currentTarget).find('textarea[name="scriptContentEdit"]').val(scriptContentEdit);

						$('#scriptContentEdit').hide();
						var textarea2 = $('#scriptContentEdit');
						var content = $('#scriptContentEdit').val();
						var editor2 = ace.edit("editor2");
						editor2.setTheme("ace/theme/tomorrow");
						editor2.getSession().setMode("ace/mode/sh");
						editor2.setOptions({minLines: 20});
						editor2.setOptions({maxLines: 41});
						editor2.setOption("showPrintMargin", false);

						editor2.getSession().setValue(content);

						editor2.getSession().on('change', function () {
				       textarea2.val(editor2.getSession().getValue());
				   	});
						textarea2.val(editor2.getSession().getValue());
				});
		</script>

		<script type="text/javascript">
		        //triggered when modal is about to be shown
				$('#deleteScriptModal').on('show.bs.modal', function(e) {

				    //get data-id attribute of the clicked element
					var scriptName        = $(e.relatedTarget).data('name-id');
				  var scriptId          = $(e.relatedTarget).data('script-id');

				    //populate the textbox
				  $(e.currentTarget).find('input[name="scriptName"]').val(scriptName);
					$(e.currentTarget).find('input[name="scriptId"]').val(scriptId);

				});
		</script>

		<script type="text/javascript">
		//triggered when modal is about to be shown
		$('#execScriptModal').on('show.bs.modal', function(e) {

			//get data-id attribute of the clicked element
			var scriptId          = $(e.relatedTarget).data('script-id');
			var scriptName        = $(e.relatedTarget).data('name-id');
			var withArgs          = $(e.relatedTarget).data('args-id');

			//populate the textbox
			$(e.currentTarget).find('input[name="scriptId"]').val(scriptId);
			$(e.currentTarget).find('input[name="scriptName"]').val(scriptName);
			$(e.currentTarget).find('input[name="withArgs"]').val(withArgs);

		});
	</script>

	</body>
</html>
